.row-fluid
  .span6.thumbnail
    = image_tag 'paintings.png'

  .span6
    .page-header
      %h1
        resend confirmation instructions
        %small zen operations

    = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, :required => true
      .form-actions
        = f.button :submit, "Resend confirmation instructions"
    = render "devise/shared/links"
