= render 'tabs'

#birthdays
  .page-header
    %i.icon-calendar
    upcoming birthdays
  - day = Date.today.day << 1
  - @birthday_guests.each do |guest|
    - if day != guest.birthday.day
      .row-fluid
        %h6= guest.birthday.strftime('%e %B')
      - day = guest.birthday.day
    .row-fluid
      = link_to guest_path(guest) do
        = guest.full_name
      <br>
      - if can? :view_rating, guest
        = stars(guest.rating)

