= link_to new_guest_path do
  %button.btn.btn-primary
    create new guest

%table.table.table-condensed
  %caption
    %h1 all guests
  %thead
    %th rating
    %th first name
    %th last name
    %th gender
    %th email
    %th phone number
    %th actions

  - @guests.each do |guest|
    %tr
      %td= guest.rating
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.gender
      %td= guest.email
      %td= guest.phone_number
      %td
        = link_to 'Show', guest, class: 'btn'
        = link_to 'Edit', edit_guest_path(guest), class: 'btn'
        = link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'

%br

