= link_to new_guest_path do
  %button.btn.btn-primary
    create new guest

%form.pull-right
  %input(type='text' name='q' placeholder='lookup guest')

-# bootstrap update with fix row-hover issue. ignore for now
%table.table.table-borderless
  %caption
    %h3
      - if @q.present?
        = "displaying guests whose names match '#{@q}'"
        .pull-right
          %a.btn{ href: guests_path }
            %small display all guests
      - else
        all guests
      %small (#{@guests.length})

  - @guests.each_with_index do |guest, i|
    - if i.modulo(3) == 0
      %tr
    %td
      .guest-wrapper
        .row-fluid
          = link_to guest do
            .span6
              = image_tag url_for_profile_pic(guest, :thumb), width: '100'
            .span6
              %div
                = guest.full_name
                = "( #{guest.gender[0]} )"
              - if can? :view_rating, guest
                = stars(guest.rating)

/         = link_to 'Show', guest, class: 'btn'
/         = link_to 'Edit', edit_guest_path(guest), class: 'btn'
/         = link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger'
