%h1 Listing guests

%table
  %tr
    %th First name
    %th Last name
    %th Email
    %th Phone number
    %th
    %th
    %th

  - @guests.each do |guest|
    %tr
      %td= guest.first_name
      %td= guest.last_name
      %td= guest.email
      %td= guest.phone_number
      %td= link_to 'Show', guest
      %td= link_to 'Edit', edit_guest_path(guest)
      %td= link_to 'Destroy', guest, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Guest', new_guest_path
