#guests-index
  = render 'tabs'

  .row-fluid
    %table.table
      %thead
        %th name
        %th
          approved lists/invitations
          = surround '(', ')' do
            = Date.yesterday.strftime('%A %e %B')
            onward
      - @guests.each do |guest|
        %tbody
          %tr
            %td
              %p
                .guest-name
                  = link_to guest do
                    = guest.full_name
                  - if can? :view_rating, guest
                    = stars(guest.rating)

            %td.lists-and-invitations
              %span= render '/guest_lists/list_by_date', guest_lists: guest.guest_lists.active

