.row-fluid
  .span6
    = link_to new_guest_path,
      id: 'new-guest-button', class: 'btn btn-block' do
      create new guest

  %form.form-search.span6
    .input-append
      %input.search-query(type='text'
        name='q'
        placeholder='lookup guest'
        autofocus='true')
      %button.btn(type='submit')
        %i.icon-search

#guest-index-results
  .results-header
    - if @q.present?
      .pull-right
        %a.btn{ href: guests_path }
          %small display all guests
    %h3
      - if @q.present?
        = "displaying guests whose names match '#{@q}'"
      - else
        all guests
      %small (#{@guests.length})
  %hr

  - @guests.each_with_index do |guest, i|
    - if i.modulo(3) == 0
      <div class='row-fluid'>
    .span4
      = render 'guest_block', guest: guest
    - if i.modulo(3) == 2
      </div>
