.row-fluid
  .span6
    = link_to new_guest_path do
      %button.btn.btn-primary
        create new guest

  .span6
    %form.pull-right
      %input{ value: @q }(type='text' name='q' placeholder='lookup guest' autofocus='true')

#guest-index-results
  .results-header
    - if @q.present?
      .pull-right
        %a.btn{ href: guests_path }
          %small display all guests
    %h3
      - if @q.present?
        = "displaying guests whose names match '#{@q}'"
      - else
        all guests
      %small (#{@guests.length})
  %hr

  - @guests.each_with_index do |guest, i|
    - if i.modulo(3) == 0
      <div class='row-fluid'>
    .span4
      = render 'guest_block', guest: guest
    - if i.modulo(3) == 2
      </div>
