#guests-index
  .guests-nav-tabs
    %ul.nav.nav-pills
      - if @q.present?
        %li
          = link_to guests_path do
            all
        %li.active
          = link_to guests_path do
            &times;
            = "results for '#{@q}'"
            %small (#{@guests.length})
      - else
        %li{ active_if(guests_path) }
          = link_to guests_path do
            all

  .row-fluid
    %table.table
      %thead
        %th name
        %th lists & invitations
      - @guests.each do |guest|
        %tbody
          %tr
            %td
              = link_to guest do
                %p
                  .guest-name= guest.full_name
                .thumbnail
                  = image_tag url_for_profile_pic(guest, :thumb), width: '100'

            %td.lists-and-invitations
              %span= render '/guest_lists/list_by_date', guest_lists: guest.guest_lists.active

