= render 'tabs'

-# photo picture, gender, rating (permission)
.row-fluid
  .span12

    .span3.thumbnail= image_tag url_for_profile_pic(@guest, :thumb), width: '100'
    .span5
      .page-header
        %h2
          = @guest.full_name
          %small= @guest.gender[0] if @guest.gender.present?

        - if can? :view_rating, @guest
          = stars(@guest.rating) || "<small>unrated</small>".html_safe

    .span4.pull-right
      %a.btn.btn-primary.btn-block{ href: edit_guest_path(@guest), class: ('disabled' unless can?(:update, @guest)) }
        edit profile / add info
      %table.table
        - if can? :view_contact_info, @guest
          %tr
            %td
              %i.icon-gift
              birthday
            %td= @guest.birthday.try(:strftime, '%e %B')
          %tr
            %td
              %i.icon-envelope
              email
            %td= mail_to @guest.email
          %tr
            %td
              %i.icon-telephone
              phone
            %td= @guest.phone_number if @guest.phone_number


-# info and notes
.row-fluid
  .span6
    .page-header
      %h3
        notes
        %small.label TODO let you add a new note here

    = render @guest.notes

  .span6
    .page-header
      %h3
        guest lists
        %small and invitations
    = render 'guest_lists/list_by_date', guest_lists: @guest.guest_lists.accessible_by(current_ability)

.row-fluid
  .span6
    .page-header
      %h3
        reservations
        %small
          tables, etc.
    = render @guest.reservations

