= render 'tabs'

.row-fluid
  .pull-right
    = link_to edit_guest_path(@guest) do
      %button.btn.btn-primary{ class: ('disabled' unless can?(:update, @guest)) }
        edit profile / add info
%hr

-# photo picture, gender, rating (permission)
.row-fluid
  .span2.thumbnail= image_tag url_for_profile_pic(@guest, :thumb), width: '100'
  .span10
    .page-header
      %h2
        = @guest.full_name
        %small= @guest.gender[0]

      - if can? :view_rating, @guest
        - case @guest.rating
        - when Numeric
          = raw(stars(@guest.rating))
        - else
          %small unrated

.row-fluid
  .span6.thumbnail
    %table.table
      - if can? :view_contact_info, @guest
        %tr
          %td
            %i.icon-gift
            birthday
          %td= @guest.birthday.try(:strftime, '%e %B')
        %tr
          %td
            %i.icon-envelope
            email
          %td= mail_to @guest.email
        %tr
          %td
            %i.icon-telephone
            phone
          %td= @guest.phone_number if @guest.phone_number

  - if can? :view_photos, @guest
    .span6.thumbnail
      %h3 photos
      %ul.thumbnails
        - @guest.photos.each do |photo|
          %li.span3.thumbnail
            = link_to photo do
              = image_tag photo.image.url(:medium)
