%p#notice= notice

%p
  %b First name:
  = @guest.first_name
%p
  %b Last name:
  = @guest.last_name
%p
  %b Gender:
  = @guest.gender
%p
  %b Rating:
  = @guest.rating
%p
  %b Email:
  = @guest.email
%p
  %b Phone number:
  = @guest.phone_number
%p
  %b Photos:
  %ul.row-fluid.thumbnails
  - @guest.photos.each do |photo|
    %li.span3.thumbnail
      = link_to photo do
        = image_tag photo.image.url(:medium)

.row-fluid
  .span12
    = link_to 'Edit', edit_guest_path(@guest)
    \|
    = link_to 'Back', guests_path
