= link_to "back", :back

.page-header
  %h1
    manage my account
    %small zen operations

= simple_form_for(resource,
  :as => resource_name,
  :url => registration_path(resource_name),
  :html => { :method => :put }) do |f|
  = f.error_notification

  .form-inputs
    .row-fluid
      .span6
        .page-header
          %h2
            change my email address
            <br>
            %small simple
        = f.input :email, :required => true, :autofocus => true, label: false
      .span6
        .page-header
          %h2
            change my password
            <br>
            %small leave these blank if you don't want to change it
        = f.input :password, autocomplete: 'off', :required => false, label: 'new password'
        = f.input :password_confirmation, required: false,
          label: 'new password confirmation'
    %hr
    .row-fluid
      .span6
        .page-header
          %h3 please enter your current password to confirm your changes
        = f.input :current_password, :required => true

  .row-fluid
    .span6
      .form-actions
        = f.button :submit, "Update", class: 'btn-large'

.row
  .alert.alert-error.span3.offset9
    %p
      %h4 danger, danger!

    i'd think twice about clicking this button.
    account deletion cannot be reversed
    %hr

    = button_to "delete my account",
    registration_path(resource_name),
    data: { confirm: 'Are you sure? Last warning. This cannot be reversed' },
    :method => :delete,
    class: 'btn btn-danger btn-mini'
