= content_for :page_header do
  create a new account

= content_for :page_subheader do
  zen operations

- # TODO validate email address format
= simple_form_for(resource,
  :as => resource_name,
  :url => registration_path(resource_name)) do |f|
  = f.error_notification

  = f.input :full_name

  = f.input :email, :label => false do
    = f.input_field :email, placeholder: 'email address',
      'data-title' => 'enter your email address',
      'data-content' => 'use your @zen.tt address if you have one',
      'data-placement' => 'left',
      'data-trigger' => 'focus',
      rel: 'popover'

  = f.input :password, :label => false do
    = f.input_field :password, placeholder: 'password',
      'data-title' => 'pick a password',
      'data-content' => 'pick something easy to remember',
      'data-placement' => 'left',
      'data-trigger' => 'focus',
      rel: 'popover'

  = f.input :password_confirmation, :label => false do
    = f.input_field :password_confirmation, placeholder: 'confirm password',
      'data-title' => 'confirm your password',
      'data-content' => 'almost there!',
      'data-placement' => 'left',
      'data-trigger' => 'focus',
      rel: 'popover'

  = f.button :submit, "Sign up", :class => 'btn-success'

= render "devise/shared/links"
