.row-fluid
  .span9
    %p
      %span.jumbo
        = n_guests = Guest.count
      guests
    %p
      %span.jumbo
        = n_male_guests = Guest.where('gender = ?', :male).count
      male
    %p
      %span.jumbo
        = n_guests - n_male_guests
      female
  .span3
    %h2
      tonight
    %p
      .progress
        .bar{ style: "width: #{@pct_checked_in_tonight}%;"}
    %p
      = @n_check_ins_tonight
      of
      = pluralize @n_guests_on_lists_tonight, 'invited guest'
      checked in
      <br>
      = @n_male_checked_in_tonight
      male
      <br>
      = @n_check_ins_tonight - @n_male_checked_in_tonight
      female
    %p
      - @committees.each do |committee|
        %i.icon-sitemap
        = committee.title.try(:titleize)
        <br>
        = committee.users.represented_in(@guest_lists, :creator)
        of
        = committee.users.count
        members
        submitted lists

