-# TODO use rails helper to generate form for post to create action
#guest-list-form
  = form_tag(guest_lists_path, method: :post) do
    %div.row-fluid
      %i.icon-user
      %span.pull-right
        guest not found?
        %a#guest-modal-trigger.zoom-cursor(href='#guest-qcfw' data-toggle='modal')
          create new guest
          %i.icon-star
    = tag('div', id: 'saved_selections', data: { entries: @saved_selections })
    %input.guest-lookup(autocomplete='off' type='text'
      name='q'){ id: 'index-guest-list-select' }

    %hr
    %div.icon-calendar
    %div.row-fluid
      %input.datepicker.span12(name='guest_list[date]'
        type='text'
        placeholder="date (eg. 'this friday')"){'data-title' => "did you know?",
        'data-content' => 'you can enter dates using plain english',
        'data-placement' => 'right',
        'data-delay' => 0,
        'data-trigger' => 'focus',
        rel: 'popover' }

    .form-actions
      %button.btn.btn-block
        %i.icon-list-alt
        %i.icon-plus

#guest-qcfw.modal.hide
  .modal-header
    %button.pull-right.btn(data-dismiss='modal')
      %i.icon-remove
    %h3
      create a guest
  .modal-body
    = simple_form_for Guest.new, class: 'form form-horizontal', remote: true, format: :json do |f|
      = render 'guests/form_fields', f: f
      = f.button :submit, class: 'btn-primary'
  .modal-footer
    %small
      first name, last name, and gender are <em>all</em> required

  :coffeescript
    jQuery ->
      $tokenInput = $('#index-guest-list-select')
      new window.VIP.GuestListForm
        $tokenInput: $tokenInput
        $modal: $('#guest-qcfw')
        $guestForm: $('#new_guest')
        savedSelections: $('#saved_selections').data('entries')
      $tokenInput.focus()

