- day = guest_lists[0].date << 1 if guest_lists.present?
- guest_lists.each do |list|
  - if day != list.date.day
    .row-fluid
      %h6= list.date.strftime('%A %e %B')
    - day = list.date.day
  .row-fluid
    = link_to guest_list_path(list) do
      #{list.owner.full_name}'s
    - if can? :view_rating, list.owner
      = stars(guest.rating)

.row-fluid
  .span2
    %hr
    .guest-list-stats
      = n_lists = guest_lists.count
      - if n_lists == 1
        list
      - else
        lists
