#guest-qcfw.modal.hide
  .modal-header
    %button.pull-right.btn(data-dismiss='modal')
      %i.icon-remove
    %h3
      create a guest
  .modal-body
    = simple_form_for Guest.new, class: 'form form-horizontal', remote: true do |f|
      = f.input :first_name, autofocus: true, validate: true
      = f.input :last_name
      = f.input :gender, collection: Guest.genders, as: :radio_buttons
      = f.button :submit
  .modal-footer
    %small
      first name, last name, and gender are <em>all</em> required

:coffeescript
  jQuery ->
    # watch the modal and look for a success response
    modalID = '#guest-qcfw'
    formID = '#new_guest'
    $(modalID).ajaxComplete (event, XMLHttpRequest, ajaxOptions) ->
      status = XMLHttpRequest.status
      # if success response is received, hide the modal
      if status == 200
        $(modalID).modal('hide')
        $(formID)[0].reset()
