.guest-list-nav-tabs
  %ul.nav.nav-pills
    %li
      = link_to '#new-list', data: { toggle: 'tab' } do
        create new list
    %li
      = link_to '#active-lists', data: { toggle: 'tab' } do
        active

    %li.dropdown

      %a.dropdown-toggle(data-toggle='dropdown' href='#')
        %i.icon-calendar
        by day
        %b.caret

      %ul.dropdown-menu
        %li
          = link_to '#thursday-lists', data: { toggle: 'tab' } do
            thursday
        %li
          = link_to '#friday-lists', data: { toggle: 'tab' } do
            friday
        %li
          = link_to '#saturday-lists', data: { toggle: 'tab' } do
            saturday
        %li
          = link_to '#sunday-lists', data: { toggle: 'tab' } do
            sunday
        %li
          = link_to '#monday-lists', data: { toggle: 'tab' } do
            monday
        %li
          = link_to '#tuesday-lists', data: { toggle: 'tab' } do
            tuesday
        %li
          = link_to '#wednesday-lists', data: { toggle: 'tab' } do
            wednesday
    %li
      = link_to '#all-lists', data: { toggle: 'tab' } do
        all

#list-container

:coffeescript
  jQuery ->
    baseURL = "/api/guest_lists/search?q="
    $default = $("a[href='#active-lists']")
    new window.VIP.GuestListIndex
      $container: $('#list-container')
      $default: $default
      tuples: [

        # active
        url: baseURL + 'active'
        $trigger: $default
       ,

        # all
        url: baseURL
        $trigger: $("a[href='#all-lists']")
       ,

        # thursday
        url: baseURL + 'nl' + "&nl=thursday"
        $trigger: $("a[href='#thursday-lists']")
       ,

        # friday
        url: baseURL + 'nl' + "&nl=friday"
        $trigger: $("a[href='#friday-lists']")
       ,

        # saturday
        url: baseURL + 'nl' + "&nl=saturday"
        $trigger: $("a[href='#saturday-lists']")
       ,

        # sunday
        url: baseURL + 'nl' + "&nl=sunday"
        $trigger: $("a[href='#sunday-lists']")
       ,

        # monday
        url: baseURL + 'nl' + "&nl=monday"
        $trigger: $("a[href='#monday-lists']")
       ,

        # tuesday
        url: baseURL + 'nl' + "&nl=tuesday"
        $trigger: $("a[href='#tuesday-lists']")
       ,

        # wednesday
        url: baseURL + 'nl' + "&nl=wednesday"
        $trigger: $("a[href='#wednesday-lists']")
       ,

        # new list
        url: '/api/guest_lists/form'
        $trigger: $("a[href='#new-list']")
      ]
