.guest-list-nav-tabs
  %ul.nav.nav-pills

    - if can? :create, GuestList
      %li
        = link_to '#new-list', data: { toggle: 'tab' } do
          %i.icon-plus
          create new list
      %li
        = link_to '#my-lists', rel: 'tooltip',
          data: { placement: 'top',
            :'original-title' => 'lists created by me', toggle: 'tab' } do
          %i.icon-list-ul
          my lists

    %li
      = link_to '#tonight-lists', data: { toggle: 'tab' } do
        .pending-badge
          tonight

    - if can? :manage, GuestList
      %li
        = link_to '#all-lists', data: { toggle: 'tab' } do
          .pending-badge
            all

    - if can? :approve, GuestList
      %li
        = link_to '#pending-lists', data: { toggle: 'tab' } do
          .pending-badge
            pending
            %span.badge.badge-warning
              = GuestList.pending.count

#list-container

= content_for :javascript do
  :coffeescript
    jQuery ->
      baseURL = "/api/guest_lists/search?q="
      $default = $("a[href='#tonight-lists']")
      new window.VIP.GuestListIndex
        $container: $('#list-container')
        $default: $default
        tuples: [

          # all
          url: baseURL
          $trigger: $("a[href='#all-lists']")
         ,

          # new list
          url: '/api/guest_lists/form'
          $trigger: $("a[href='#new-list']")
         ,

          # pending
          url: baseURL + 'pending'
          $trigger: $("a[href='#pending-lists']")
         ,

          # my
          url: baseURL + 'my'
          $trigger: $("a[href='#my-lists']")
         ,

          # tonight
          url: baseURL + 'tonight'
          $trigger: $("a[href='#tonight-lists']")
        ]
