.row-fluid

  .span6.thumbnail
    = image_tag 'paintings.png'

  .span6
    .page-header
      %h1
        need a new password?
        %small no problem

    = simple_form_for(resource,
      :as => resource_name,
      :url => password_path(resource_name),
      :html => { :method => :post }) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, :required => true
      = f.button :submit, 'Send me password reset instructions'

    = render 'devise/shared/links'
