- if can?(:read, GuestList) || can?(:read, Guest)
  .global-nav-tabs
    %ul.nav.nav-tabs.centered
      - if can?(:check_in_guest, Invitation)
        %li{ active_if(master_guest_lists_path) }
          = link_to master_guest_lists_path do
            .tab-icon
              %i.icon-globe
            .tab-text
              tonight's master list

      - if can?(:read, Guest)
        %li{ active_if_controller(:guests) }
          = link_to guests_path do
            .tab-icon
              %i.icon-group
            .tab-text
              guests

      - if can?(:read, GuestList)
        %li{ active_if_controller(:guest_lists, !current_page?(master_guest_lists_path)) }
          = link_to guest_lists_path do
            .tab-icon
              %i.icon-list-ul
            .tab-text
              lists

      - if can?(:read, Reservation)
        %li{ active_if_controller(:reservations) }
          = link_to reservations_path(date: Nightclub.today) do
            .tab-icon
              %i.icon-book
            .tab-text
              reservations

      - if can?(:manage, Table)
        %li{ active_if_controller(:tables) }
          = link_to date_tables_path do
            .tab-icon
              %i.icon-th-large
            .tab-text
              tables

      - if can?(:manage, Committee)
        %li{ active_if_controller(:committees) }
          = link_to committees_path do
            .tab-icon
              %i.icon-sitemap
            .tab-text
              committees

      - if can?(:read, :statistics)
        %li{ active_if_controller(:statistics) }
          = link_to statistics_index_path do
            .tab-icon
              %i.icon-bar-chart
            .tab-text
              stats
