= link_to new_event_path do
  %button.btn.btn-primary
    create new event

%table.table.table-condensed
  %caption
    %h1 all events
  %thead
    %th title
    %th actions
    %th
    %th

  %tbody
  - @events.each do |event|
    %tr
      %td= event.title.downcase
      %td
        = link_to 'Show', event, class: 'btn'
        = link_to 'Edit', edit_event_path(event), class: 'btn'
        = link_to 'Destroy', event, class: 'btn btn-danger',
          :confirm => 'Are you sure?', :method => :delete

%br

