= link_to new_event_path do
  %button.btn.btn-primary
    create new event

%table.table.table-condensed
  %caption
    %h1 all events
  %thead
    %th date and time
    %th title
    %th actions

  %tbody
    - @events.sort_by { |e| e.date }.reverse.each do |event|
      %tr
        %td= event.date.to_date.to_formatted_s(:short)
        %td= event.title.downcase
        %td
          = link_to 'Show', event, class: 'btn'
          = link_to 'Edit', edit_event_path(event), class: 'btn'
          = link_to 'Destroy', event, class: 'btn btn-danger',
            :confirm => 'Are you sure?', :method => :delete
