= simple_form_for(@reservation, defaults: { input_html: { class: 'span4' } } ) do |f|
  = f.error_notification

  .form-inputs
    = tag 'span', id: 'guest-data', data: { guest: @guest_data }
    = f.input :date, as: :string, autofocus: true
    .row-fluid
      .span4
        = f.input :guest_id
    = f.input :description, input_html: { rows: 5 }
    - if @reservation.date.present?
      = f.association :table, as: :radio_buttons, collection: Table.free_on(@reservation.date, @reservation.table.try(:id))
    - else
      = f.association :table, as: :radio_buttons

  .form-actions
    = f.button :submit

:coffeescript
  jQuery ->
    new window.VIP.ReservationForm
      $guestInputField: $('#reservation_guest_id')
      $data: $('#guest-data').data('guest')
