.row-fluid
  .span4
    - if reservation.guest.present?
      = link_to reservation do
        %span>= "#{reservation.guest}'s reservation"
    - else
      %i.icon-warning-sign
      unknown guest's reservation

    at
    - if reservation.table.present?
      = reservation.table
    - else
      unspecified table

  .span8
    %strong about this reservation:
    %p
      = simple_format(reservation.description)

    %p
      %strong about this guest:
      - if reservation.guest.present?
        = render reservation.guest.notes

    - if can? :update, reservation
      = link_to 'edit', edit_reservation_path(reservation)

%hr


:coffeescript
  jQuery ->
    $('.best_in_place').best_in_place()
