.row-fluid
  .span6
    - if reservation.guest.present?
      = link_to reservation do
        %span>= "#{reservation.guest}'s reservation"
    - else
      %i.icon-warning-sign
      unknown guest's reservation

    &nbsp;
    at
    - if reservation.table.present?
      = reservation.table
    - else
      unspecified table

  .span6
    %strong about this reservation:
    %p
      = simple_format(reservation.description)

    - if reservation.guest.present?

      - unless reservation.guest.guest_lists.tonight.empty?
        %strong lists:
        - reservation.guest.guest_lists.tonight.each do |list|
          .row-fluid
            = link_to guest_list_path(list) do
              #{list.owner.try(:full_name)}'s list

            - if can? :view_rating, list.owner
              = stars(list.owner.try(:rating))

            %small= pluralize list.total, 'guest'
            = status_badge(list)

      - if !reservation.guest.notes.empty?
        %p
          %strong about this guest:
          - if reservation.guest.present?
            = render reservation.guest.notes

    %p
      - if can? :update, reservation
        = link_to 'edit reservation', edit_reservation_path(reservation)

%hr


:coffeescript
  jQuery ->
    $('.best_in_place').best_in_place()
