= render 'tabs', reservation: nil

%table
  %tr
    %th Date
    %th
    %th
    %th

  - @reservations.each do |reservation|
    %tr
      %td= reservation.date
      %td= link_to 'Show', reservation
      %td= link_to 'Edit', edit_reservation_path(reservation)
      %td= link_to 'Destroy', reservation, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Reservation', new_reservation_path
