%table.table
  %tr
    %th actions
    %th #
    %th name

  - @tables.each do |table|
    - free = table.free_on(date)
    %tr{ green_if(free) }
      %td
        - if free
          = link_to new_reservation_path(table: table, date: date), class: 'btn' do
            %i.icon-plus
            %i.icon-book
        - else
          = link_to reservation_path(table.reservation_on(date)), class: 'btn' do
            show
            %i.icon-book

      %td
        = best_in_place table, :number

      %td
        = link_to table do
          = table.name
          &rarr;

:coffeescript
  jQuery ->
    $('.best_in_place').best_in_place()
