= content_for :page_header do
  sign in

= content_for :page_subheader do
  zen operations

= simple_form_for(resource,
  :class => 'form-horizontal',
  :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, :autofocus => true
    = f.input :password
    = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
  = f.button :submit, "Sign in", class: 'btn-success'

= render "devise/shared/links"
