.navbar.navbar-fixed-top
  .navbar-inner
    .container

      %a.brand{ href: root_path }
        -# bring peace and justice to country
        抚绥

      - unless user_signed_in?
        %ul.nav.pull-right
          %li
            = link_to new_user_session_path do
              sign in
          %li.divider-vertical
          %li
            = link_to new_user_registration_path do
              register

      - if user_signed_in?
        %ul.nav.pull-right
          %li.dropdown
            %a.dropdown-toggle#dLabel(role="button" data-toggle="dropdown" data-target="#" href='#')
              = current_user.email
              <b class="caret"></b>
            %ul.dropdown-menu(role='menu' aria-labelledby="dLabel")
              %li
                = link_to edit_user_registration_path do
                  %i.icon-lock
                  change email address or password
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.icon-fire
                  log out

