%a.brand{ href: root_path }
  %i.icon-home

- unless user_signed_in?
  %ul.nav.pull-right
    %li
      = link_to new_user_session_path do
        sign in
    %li.divider-vertical
    %li
      = link_to new_user_registration_path do
        register

- if user_signed_in?
  %ul.nav
    %form.navbar-search.pull-left{ action: guests_path }
      %input.search-query.span3(type='text' name='q' autocorrect='off'
        placeholder='lookup guest or list')
    %li{ active_if(new_guest_path) }
      = link_to new_guest_path do
        %span
          %i.icon-plus
          %i.icon-user
    %li{ active_if(new_guest_list_path) }
      = link_to new_guest_list_path do
        %span
          %i.icon-plus
          %i.icon-list-alt


  %ul.nav.pull-right.hidden-phone
    %li.dropdown
      %a.dropdown-toggle#dLabel(role="button" data-toggle="dropdown" data-target="#" href='#')
        %i.icon-cog
        <b class="caret"></b>
      %ul.dropdown-menu(role='menu' aria-labelledby="dLabel")
        %li
          = link_to edit_user_registration_path do
            %i.icon-lock
            change email address or password
        %li.divider
        %li
          -# currently works by way of get due to bootstrap bug
          = link_to destroy_user_session_path, method: :delete do
            %i.icon-fire
            log out
