!!! 5
%html
  = render partial: 'layouts/head'

  %body.page_classes
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = render partial: 'layouts/nav'

    .container-fluid
      = render 'layouts/alert'
      = render 'shared/tabs'
      = yield

    = render 'layouts/global_javascripts'


