!!! 5
%html
  = render partial: 'layouts/head'

  %body.page_classes
    = render partial: 'layouts/nav'

    .container
      = render 'layouts/alert'
      = yield

    = render 'layouts/global_javascripts'


