!!! 5
%html
  = render partial: 'layouts/head'

  %body.page_classes
    = render partial: 'layouts/nav'

    .container
      .row-fluid
        .span2
          %ul.nav.nav-list

            %li
              %a.pull-right{ href: root_path }
              = link_to root_path do
                = image_tag 'favicon.ico'
                home

            %li.nav-header
              create & manage

            %li
              %a.pull-right{ href: new_guest_path }
                %i.icon-plus.icon-white
              = link_to guests_path do
                %i.icon-user
                guests

            - if can? :manage, Photo
              %li
                %a.pull-right{ href: new_photo_path }
                  %i.icon-plus.icon-white
                = link_to photos_path do
                  %i.icon-camera
                  photos

            - if can? :manage, Committee
              %li
                %a.pull-right{ href: new_committee_path }
                  %i.icon-plus.icon-white
                = link_to committees_path do
                  %i.icon-star
                  committees

            - if can? :manage, Guestlist
              %li
                %a.pull-right{ href: new_guestlist_path }
                  %i.icon-plus.icon-white
                = link_to guestlists_path do
                  %i.icon-list-alt
                  guest lists

            - if can? :manage, Event
              %li
                %a.pull-right{ href: new_event_path }
                  %i.icon-plus.icon-white
                = link_to events_path do
                  %i.icon-glass
                  events

        .span10
          = render 'layouts/alert'
          = yield


