!!! 5
%html
  = render 'layouts/head'

  %body

    .container
      = bootstrap_flash
      .row-fluid
        .span6.thumbnail.hidden-phone
          - paintings = ['paintings.png', 'paintings2.png']
          = image_tag paintings[rand(paintings.length)]

        .span6
          .page-header
            %h1
              = yield :page_header
              %small= yield :page_subheader

          = yield

